
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>You have successfully logged into the .NET Framework application</p>
        <p>Click the below link to navigate into a protected .NET Core application</p>
        <a href="https://shareauthcore.localhost.com/index">Click here</a>
    </div>
</body>
</html>
