
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/Security/Validate" method="post">
            <p>We are trying to sync authentications between .NET Framework and .NET Core</p>
            <p>Click the login to continue</p>
            <input type="submit" value="Login to .NET Framework App" />
        </form>
        <p>If you want to verify whether the .NET Core application prompts for login, click the link below.</p>
        <a href="https://shareauthcore.localhost.com/index">Click here</a>
    </div>
</body>
</html>
