@page
@model SharedApp2.Pages.IndexModel
@{
}
<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>Welcome to .NET Core</p>
    <p>If your seeing this screen without a login been prompted after the .NET Framework application, 
        then we have successfully synced the authentication</p>
</body>
</html>