@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SharedApp2.Pages.LoginModel
@{
}
<html>
<head>
    <title>Login</title>
</head>
<body>
    Welcome to .NET Core Login
    <form method="post">
        <p>Click here to login <input type="submit" action="post" value="Login" /></p>
    </form>
</body>
</html>